:root {
    --black: #282828;
    --blue: #2892f9;
    --red: #fb2f27;
    --yellow: #fdfe29;
}

html,
body {
    margin: 0;
}

.rings {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    border-radius: 50%;
}

.ring-1,
.ring-2,
.ring-3,
.bullseye {
    height: 500px;
    width: 500px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring-2 {
    height: 350px;
    width: 350px;
    background-color: var(--blue);
}

.ring-3 {
    height: 200px;
    width: 200px;
    background-color: var(--red);
}

.bullseye {
    height: 50px;
    width: 50px;
    background-color: var(--yellow);
}