* {
    font-family: 'Karla';
    font-size: 1.75rem;
    background-color: whitesmoke;
}

button {
    font-family: 'Karla';
    padding: .5em 1em;
    font-size: 1.75rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    background-color: lightblue;
    transition: all .3s linear;
}

button:active {
    font-size: 1.8rem;
}

input {
    padding: .1em .25em;
}