html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 2.25em;
}

.square {
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
    animation: loading-rotating 2.8s ease-out infinite;
}

.square1 {
    background-color: red;
}

.square2 {
    background-color: green;
}

.square3 {
    background-color: blue;
}

@keyframes loading-rotating {
    25% {
        transform: rotate(135deg);
    }

    50% {
        transform: rotate(225deg);
    }

    75% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(405deg);
    }
}