@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: #1c1c1c;
    color: white;
}

p {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: .5em;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

span {
    position: relative;
}

span::before {
    content: '';
    position: absolute;
    height: .2em;
    width: 80%;
    background-color: #71ae21;
    bottom: .1em;
    z-index: -1;
}