:root {
    --color-light: lightgray;
    --color-dark: darkgray;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--color-dark);
    border-radius: 50%;

    animation: loading-animation .7s ease infinite alternate both;
}

@keyframes loading-animation {
    to {
        background-color: var(--color-light);
        transform: scale(1.02);
    }
}