/* variables */

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    /* line-height: 1.5; */
}

body {
    margin: 0;
}

/* typography */

header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
}

header img {
    width: 127px;
}

main {
    background-color: lightgrey;
}

footer {
    background-color: beige;
    padding: 75px 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0;
    background-color: pink;
    padding: 4px 8px;
    border-radius: 4px;
}

.container {
    width: 375px;
    margin: 0 auto;
    text-align: left;
    background-color: whitesmoke;
    /* border: 1px solid red; */
}

header .container {
    height: 67px;
    background-color: white;
}

.name {
    margin: 0;
    font-weight: bold;
}

address {
    font-style: normal;
    font-size: 0.75rem;
}

.post-img {
    width: 100%;
}

.response-icons img {
    width: 23px;
}

.response-icons img:hover,
.response-icons p:hover {
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    transform: scale(1.1);
}

.accent-text {
    font-weight: bold;
}

.info img {
    width: 34px;
    border-radius: 100%;
}

.user-avatar img {
    width: 34px;
    border-radius: 50%;
}

/* layouts */

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.response-icons {
    display: flex;
}

.info {
    display: flex;
    gap: 5px;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.text {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 16px;
}

.response-icons p {
    margin: 0;
}

.response-icons .outer {
    padding: 10px 5px;
    padding-left: 10px;
}

.logo {
    padding-left: 5px;
}

.user-avatar {
    padding-right: 16px;
}

/* animation, transform, transition */
