/* layouts */

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

h1 {
    margin: 30px 25px;
    color: #282828;
    font-size: 2.5rem;
    font-weight: 400;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.align-right {
    /* key insight 1 */
    /* key insight: https://stackoverflow.com/questions/33924655/position-last-flex-item-at-the-end-of-container*/
    margin-left: auto;
}

.item {
    /* key insight 2 */
    position: relative;
}

.img-banner {
    /* key insight 2 */
    position: absolute;
    left: 0;
    top: 0;

    background-color: darkorange;
    padding: 8px 16px;
    color: whitesmoke;
}

.caption {
    margin: 0 25px;
    display: flex;
    gap: 10px;
    /* key insight 5 */
    justify-content: space-between;
}

.chatbox-bg {
    background-color: darkorange;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;

    display: flex;

    position: fixed;
    right: 6px;
    bottom: 6px;
}

.chatbox-img {
    /* key insight 1 */
    margin: auto;
    width: 50%;
}

/* typography */

header {
    background-color: #282828;
}

ul {
    margin: 0;
    padding: 25px;
    list-style: none;
    display: flex;
    gap: 10px;
}

li {
    cursor: pointer;
}

button {
    border: none;
    background-color: darkorange;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 4px;
    color: whitesmoke;

    /* key insight 4 */
    align-self: center;
}

.logo {
    color: whitesmoke;
    font-size: 1.125rem;
}

.icon {
    width: 25px;
}

.item-img {
    width: 100%;

    /* key insight 3 */
    display: block;
    /* vertical-align: bottom; */
}