/* Colors 
body background: #131417
tile background: #1e1f26 
username: #b7bbc8
card stats background: #131417
*/

:root {
    --font-main: 'Noto Sans', sans-serif;
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    font-family: var(--font-main);
}

.card {
    background-color: var(--bg-card);
    color: var(--username);
    width: 500px;
    margin: auto;
    border-radius: 12px;
    padding: 2em;
}

.card-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: whitesmoke;
}

.card-avatar img {
    width: 60px;
    border-radius: 6px;
}

.card-details p,
.card-details h3 {
    margin: 0;
}

.card-details p {
    font-size: 1.25rem;
}

.card-details h3 {
    font-size: 1.5rem;
}

.card:hover .card-stats {
    display: flex;
}

.card-body {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.card-stats {
    list-style: none;
    gap: 1em;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0;
    display: none;
}

.card-stats li {
    background-color: var(--bg-main);
    padding: .25em .5em;
    border-radius: 6px;
}